@{
    ViewData["Title"] = "Xoa Database";
}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">Ban co chac chan muon xoa db nay khong?</p>

<form method="post">
    <button type="submit" class="btn btn-danger">Dong y</button>
    <button class="btn btn-info m-2" asp-action="Index">Quan ly Database</button>
</form>
